<div class="projectsItem">
	<div class="projectsImage">
		<img src="../public/images/<%= project.image %>">
	</div>
	<div class="projectsContent">
		<div class="projectsDescription">
			<h4><%= project.title %></h4>
			<p><%= project.description %></p>
			<span><%= project.subject %></span>
		</div>
		<a href="/projects/<%= project.id %>">Ler mais</a>
	</div>
</div>