<div class="projectItem">
	<div class="projectImage">
		<img src="../public/images/<%= project.image %>">
	</div>
	<div class="projectContent">
		<div class="projectDescription">
			<h4><%= project.title %></h4>
			<p><%= project.description %></p>
			<span><%= project.subject %></span>
		</div>
		<a href="/projects/<%= project.id %>">Ler mais</a>
	</div>
</div>