<!DOCTYPE html>
<html>

<head>
  <title>Dispositivos</title>
  <%- include('./components/imports'); -%>
</head>

<body>
  <%- include('./components/navbar'); -%>

  <div class="container">
    <% sensors.forEach((sensor) => { %>
      <div class="sensor" style="margin-top: 60px; 
                background-color: white !important; 
                -webkit-box-shadow: 3px 10px 15px 0px rgba(0,0,0,0.08);
                -moz-box-shadow: 3px 10px 15px 0px rgba(0,0,0,0.08);
                box-shadow: 3px 10px 15px 0px rgba(0,0,0,0.08); 
                padding: 40px; 
                border-radius: 10px;">

        <h2 class="sensor-name">
          <%= sensor.id %> - <%= sensor.name %>
        </h2>

        <% if (sensor.measurements.length > 0) { %>
        <p class="sensor-info">
          Temperatura: <%= sensor.measurements[sensor.measurements.length - 1].temperature %>
        </p>

        <p>
          Umidade: <%= sensor.measurements[sensor.measurements.length - 1].umidity %>
        </p>

        <% } else { %>
        Nenhum valor existente para esse sensor
        <% } %>
      </div>
    <% }); %>
  </div>
</body>

</html>