<!DOCTYPE html>
<html>

<head>
	<title><%= post.title %></title>
	<%- include('./components/imports'); -%>

	<style>
		
	</style>
</head>

<body>
	<%- include('./components/navbar'); -%>

	<div class="container" id="postContainer">
		<div class="postImage">
			<img src="../public/images/<%= post.image %> " alt="">
		</div>

		<div class="postContent">
			<div class="postTitle">
				<h1><%= post.title %></h1>
				<h5><%= post.description %></h5>
			</div>
			<div class="postBody">
				<p><%= post.body %></p>
			</div>
		</div>
	</div>
</body>

</html>