<!DOCTYPE html>
<html>

<head>
	<title><%= project.title %></title>
	<%- include('./components/imports'); -%>
</head>

<body>
	<%- include('./components/navbar'); -%>

	<div class="container" id="projectContainer">

		<div class="projectImage">
			<img src="../public/images/<%= project.image %> " alt="">
		</div>

		<div class="projectContent">
			<div class="projectTitle">
				<h1><%= project.title %></h1>
				<h5><%= project.subject %></h5>
			</div>
			<div class="projectBody">
				<p><%= project.description %></p>
			</div>
		</div>
	</div>
</body>

</html>