<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <%- include('../../components/imports'); -%>
</head>
<body>
  <%- include('../../components/navbar'); -%>

  <div class="container">
    <div class="row rowTitle">
      <h1>Administração de Ativadores</h1>
    </div>

    <div class="row rowButton">
      <a href="/admin/actuators/create" class="btnCreate">Novo</a>
    </div>

    <div class="row tableRow">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Código</th>
						<th scope="col">Nome</th>
						<th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% actuators.forEach((actuator) => { %>
            <tr>
              <td><%= actuator.id %></td>
							<td><%= actuator.name %></td>
							<td><%= actuator.status ? "Ligado" : "Desligado" %></td>
							<!-- <td>
                <form action="/admin/actuators/<%= actuator.id %>" method="POST">
                  <button type="submit" id=<%= actuator.status ? "actuatorStatus" : "actuatorStatusDisabled" %>>
                    <%= actuator.status ? 'Ligado' : 'Desligado' %>
                  </button>
                </form>
              </td> -->
            </tr>
          <% }); %>

        </tbody>
      </table>
    </div>
  </div>

</body>
</html>