<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <%- include('../../components/imports'); -%>
</head>
<body>
  <%- include('../../components/navbar'); -%>

  <div class="container">
    <div class="row rowTitle">
      <h1>Administração de Sensores</h1>
    </div>

    <div class="row rowButton">
      <a href="/admin/sensors/create" class="btnCreate">Novo</a>
    </div>

    <div class="row tableRow">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">Código</th>
						<th scope="col">Nome</th>
						<th scope="col">Data</th>
						<th scope="col">Temperatura</th>
						<th scope="col">Umidade</th>
          </tr>
        </thead>
        <tbody>
          <% sensors.forEach((sensor) => { %>
            <tr>
              <td><%= sensor.id %></td>
							<td><%= sensor.name %></td>
							<td><%= sensor.measurements.length > 0 ? sensor.measurements[sensor.measurements.length - 1].date : 'Sem valores' %></td>
							<td><%= sensor.measurements.length > 0 ? sensor.measurements[sensor.measurements.length - 1].temperature : 'Sem valores' %></td>
							<td><%= sensor.measurements.length > 0 ? sensor.measurements[sensor.measurements.length - 1].humidity : 'Sem valores' %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
  
</body>
</html>